.app{
  width:100%;
  height:100%;
  background-color: #54B4D3;
  font-size:14px;
}
.icons{
  cursor: pointer;
}
.error{
  background-color:rgba(255, 0, 0, 0.84);
  color: white;
}

* {font-size: 14px;}