.app {
  width: 100%;
  height: 100%;
  background-color: #54B4D3;
  font-size: 14px;
}

.icons {
  cursor: pointer;
}

.error {
  background-color: rgba(255, 0, 0, 0.84);
  color: white;
}

.previousweek {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
}

.newaccountaddress {
  line-height: 15px;
  min-height: 15px;
  height: 15px;
}

.linechecking {
  line-height: 10px;
  min-height: 10px;
  height: 11px;
}

.dailyrecords {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
}

.dailyrecordsfinshed {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
}

.dailyrecordsfinshedtotal {
  line-height: 14px;
  min-height: 14px;
  height: 10px;
}

.dailyrecordsrough {
  line-height: 12px;
  min-height: 12px;
  height: 10px;
}

.dailyrecordtotalheight {
  line-height: 23px;
  min-height: 23px;
  height: 23px;
}

.vl {
  border-left: 1px solid black;
  height: 26px;
  left: 13%;
  top: 633px;
  position: absolute;

}

.v2 {
  border-left: 1px solid black;
  height: 26px;
  left: 22%;
  top: 633px;
  position: absolute;
}

.v3 {
  border-left: 1px solid black;
  height: 26px;
  left: 35%;
  top: 633px;
  position: absolute;

}


.v4 {
  border-left: 1px solid black;
  height: 26px;
  left: 36%;
  top: 990px;
  position: absolute;

}

.v5 {
  border-left: 1px solid black;
  height: 26px;
  left: 43%;
  top: 990px;
  position: absolute;

}

.dailyrecordsadditional {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
  position: relative;
}

.v6position {
  position: relative;
}

.v6 {
  border-left: 1px solid black;
  height: 26px;
  left: 13%;
  top: 0px;
  position: absolute;

}

.v7 {
  border-left: 1px solid black;
  height: 26px;
  left: 22%;
  top: 0px;
  position: absolute;
}

.v8 {
  border-left: 1px solid black;
  height: 26px;
  left: 35%;
  top: 0px;
  position: absolute;

}

.chartheight {
  line-height: 27px;
  min-height: 27px;
  height: 27px;
}

.chartheight42 {
  line-height: 18px;
  min-height: 18px;
  height: 18px;
}

* {
  font-size: 14px;
}

Table.chart {
  table-layout: fixed;
  word-wrap: break-word;
  margin-bottom: 0;
  padding-bottom: 0;
}

Table.linecheckingtable {
  table-layout: fixed;
  word-wrap: break-word;

}

Table.totalledgertable {
  table-layout: fixed;
  word-wrap: break-word;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}
.page-link {
  background: none;
  color: blue; /* or any color you prefer for links */
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.col-sm-custom {
  width: 40% !important; 
}
